nav#menu {padding:2vw; }

/* This means: style the <nav id="menu"> element. */

.button { 
  border:2px; 
  border-style:solid;
  border-color:WhiteSmoke; 
  padding:2vw; 
  background-color:SeaGreen; 
  color:WhiteSmoke; 
  width:10%; 
  display:inline;
  border-radius: 20px;
 }
/* This means: style ANY element that as an @class set to button, as in */
/* <li class="button"> or <p class="button"> or <div class="button">. */
section {
  background-color:PaleGreen;
  color:black;
  font-family:arial, helvetica, sans-serif;
}
embed {
  width:60vw;height:40vw
}

body {
background-color: WhiteSmoke;
}
ol {list-style-type: lower-alpha;
padding: 5em;
    
}
