nav#menu {padding:2vw; }

/* This means: style the <nav id="menu"> element. */

.button { 
  border:2px; 
  border-style:solid;
  border-color:White; 
  padding:2vw; 
  background-color:SeaGreen; 
  color:White; 
  width:10%; 
  display:inline;
  border-radius: 20px;
 }
/* This means: style ANY element that as an @class set to button, as in */
/* <li class="button"> or <p class="button"> or <div class="button">. */


body {
background-color: PaleGreen;
color: Black;
font-family: arial, helvetica, sans-serif;
}
ol {list-style-type: lower-alpha;
padding: 5em;
    
}
